<main>
  <form [formGroup]="templateForm">
    <label>
      Template
      <textarea formControlName="template"></textarea>
    </label>

    <button type="submit">test</button>

  </form>

  <form [formGroup]="changeSetForm">
    <label>
      Name
      <input formControlName="name" />
    </label>

    <label>
      Ticket
      <input formControlName="ticket" />
    </label>
  </form>

  <form [formGroup]="dynamicInputsForm">
    @for (input of inputs; track input) {
      <label>{{ input }}
        <input required [formControlName]="input" />
      </label>
      <br/>
    }

    <button type="submit">Download</button>
  </form>

  <textarea readonly>{{ result }}</textarea>
</main>

<router-outlet></router-outlet>
