<main>
  <form [formGroup]="templateForm">
    <label>
      Template
      <textarea formControlName="template"></textarea>
    </label>

    <button type="submit">test</button>

  </form>

  <form>
    <label>
      Name
      <input />
    </label>

    <label>
      Ticket
      <input />
    </label>

    <br/>

    @for (input of inputs; track input) {
      <label>{{ input }}
        <input [id]="input" required />
      </label>
      <br/>
    }

    <button type="submit">Download</button>
  </form>
</main>

<router-outlet></router-outlet>
